{% extends 'main.html' %} <br />

{% block content %}
<h1>Complete profile template</h1>

<form action="" method="POST">
  {% csrf_token %}
  <h3>Profile</h3>
  <label for="fname">First Name:</label>
  <input type="text" id="fname" name="fname" />
  <label for="lname">Last Name:</label>
  <input type="text" id="lname" name="lname" />
  <label for="contact">Contact:</label>
  <input type="text" id="contact" name="contact" />
  <label for="directorate">Directorate:</label>
  <select name="directorate" id="directorate">
    {% for directorate in directorates %}
    <option value="{{ directorate.id }}">{{ directorate.name }}</option>
    {% endfor %}
  </select>
  <button type="submit">Submit</button>
</form>
{% endblock %}
