{% extends 'main.html' %} <br />

{% load static %} <br />
{% block head %}
<link rel="stylesheet" href="{% static 'styles/complete_profile.css' %}" />
{% endblock %} <br />

{% block content %}
<div class="profile-container">
  <h2 class="section-title">Complete Your Profile</h2>

  <form action="" method="POST" class="profile-form">
    {% csrf_token %}
    <div class="form-group">
      <label for="fname">First Name:</label>
      <input type="text" id="fname" name="fname" required />
    </div>

    <div class="form-group">
      <label for="lname">Last Name:</label>
      <input type="text" id="lname" name="lname" required />
    </div>

    <div class="form-group">
      <label for="contact">Contact:</label>
      <input type="text" id="contact" name="contact" required />
    </div>

    <div class="form-group">
      <label for="directorate">Directorate:</label>
      <select name="directorate" id="directorate" required>
        {% for directorate in directorates %}
        <option value="{{ directorate.id }}">{{ directorate.name }}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}
