{% extends 'main.html' %} <br />
{% load static %} <br />

{% block head %}
<link rel="stylesheet" href="{% static 'styles/login.css' %}" />
{% endblock %} <br />

{% block content %}

<form action="" method="POST" class="login-form">
  {% csrf_token %}

  <h3>Login</h3>

  <label for="username">Username</label>
  <input type="text" id="username" name="username" required />

  <label for="password">Password</label>
  <input type="password" id="password" name="password" required />

  <button type="submit">Login</button>

  <p class="signup-text">
    Don’t have an account? <a href="{% url 'signup' %}">Signup here</a>
  </p>
</form>
{% endblock %}
