{% extends 'main.html' %} <br />

{% load static %} <br />
{% block head %}
<link rel="stylesheet" href="{% static 'styles/view_profile.css' %}" />
{% endblock %} <br />

{% block content %}

<img
  src="{% static '/images/circle-user-solid (1).svg' %}"
  alt=""
  class="icon"
/>

<div class="profile-view-container">
  <h2 class="section-title">My Profile</h2>

  <div class="profile-details">
    <p><span>Username:</span> {{ user.username }}</p>
    <p><span>First Name:</span> {{ user.first_name }}</p>
    <p><span>Last Name:</span> {{ user.last_name }}</p>
    <p><span>Email:</span> {{ user.email }}</p>
    <p><span>Phone Number:</span> {{ profile.phone_number }}</p>
    <p><span>Directorate:</span> {{ profile.directorate.name }}</p>
  </div>
</div>
{% endblock %}
