<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blueprint</title>

    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <script src="{% static 'scripts/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}" defer></script>
    <script src="https://cdn.datatables.net/2.3.1/js/dataTables.js"></script>

    {% block head %}{% endblock %}
  </head>

  <body>
    {% if user.is_authenticated %}
    <nav class="navbar">
      <div class="navbar-left">
        <a href="/" class="logo">Blueprint</a>
      </div>

      <div class="navbar-links">
        <a
          href="{% url 'committees' %}"
          class="nav-link {% if request.path == '/committees/' %}active{% endif %}"
          >Committees</a
        >
        <a
          href="{% url 'statements' %}"
          class="nav-link {% if request.path == '/statements/' %}active{% endif %}"
          >Statements</a
        >
        {% if user.is_superuser %}
        <a
          href="{% url 'users' %}"
          class="nav-link {% if request.path == '/users/' %}active{% endif %}"
          >Users</a
        >
        {% endif %}

        <a
          href="{% if incomplete_profile %}{% url 'complete-profile' %}{% else %}{% url 'view-profile' %}{% endif %}"
          class="nav-link"
        >
          {% if incomplete_profile %} Complete Profile<span
            class="menu-dot"
          ></span>
          {% else %} My Profile {% endif %}
        </a>
        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
      </div>

      <div class="navbar-icons">
        <div class="profile-wrapper">
          <div class="profile" id="profileToggle">
            <span>{{ user.username|first|upper }}</span>
            {% if incomplete_profile %}
            <span class="profile-dot"></span>
            {% endif %}
          </div>
          <div class="menu" id="profileMenu">
            {% if incomplete_profile %}
            <a href="{% url 'complete-profile' %}">Complete Profile</a>
            <span class="menu-dot"></span>
            {% else %}
            <a href="{% url 'view-profile' %}">My Profile</a>
            {% endif %}
            <a href="{% url 'logout' %}">Logout</a>
          </div>
        </div>

        <img
          src="{% static 'images/bars-solid.svg' %}"
          alt="menu"
          class="hamburger"
        />
      </div>
    </nav>
    {% endif %} {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <main class="main-body">{% block content %}{% endblock %}</main>
  </body>
</html>
