<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="{% static 'scripts/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}" defer></script>
    <script src="https://cdn.datatables.net/2.3.1/js/dataTables.js"></script>
    <title>Blueprint</title>
    {% block head %} {% endblock %}
  </head>
  <body>
    {% if user.is_authenticated %}
    <div class="navbar">
      <div class="left">
        <a href="/">LOGO HERE</a>
      </div>
      <div class="right">
        <a href="{% url 'committees' %}">Committees</a>
        <a href="{% url 'statements' %}">Statements</a>

        {% if user.is_superuser %}

        <a href="{% url 'users' %}">Users</a>

        {% endif %}

        <div class="profile-wrapper">
          <div class="profile">
            <p>{{ user.username|first|upper }}</p>
          </div>
          {% if incomplete_profile %}
          <span class="profile-dot"></span>
          {% endif %}
          <div class="menu">
            {% if incomplete_profile %}
            <a href="{% url 'complete-profile' %}" class="menu-item"
              >Complete profile
              <span class="menu-dot"></span>
            </a>
            {% else %}
            <a href="{% url 'view-profile' %}" class="menu-item">My Profile</a>
            {% endif %}
            <a href="{% url 'logout' %}" class="menu-item">Logout</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %} <br />
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} <br />

    <div class="main-body">{% block content %} {% endblock %}</div>
  </body>
</html>
