.form {
  display: none;
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.delform {
  display: none;
}

.delform button {
  cursor: pointer;
}

.closeBtn {
  cursor: pointer;
}

.form h3 {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  color: #333;
}

.form input[type="file"],
.form select {
  display: block;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form input[type="file"] {
  width: 96%;
}

.form select {
  width: 100%;
}

.form label {
  font-weight: 500;
  color: #555;
  font-size: 14px;
}

.form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ddd;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  bottom: 5px;
}

.form button:hover {
  background-color: #000;
  color: #fff;
}
/* Hide modal by default */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

/* Show when active */
.modal-overlay.active {
  display: flex;
}
