{% extends 'main.html' %} <br />
{% load static %} <br />
{% block head %}
<link rel="stylesheet" href="{% static 'styles/committee_detail.css' %}" />
<script src="/static/scripts/commitee_details.js" defer></script>
{% endblock %} <br />
{% block content %}

<div class="content-container">
  <div class="committee-header">
    <h2>{{ committee.name }}</h2>
    <p class="mandate">{{ committee.mandate }}</p>
    <div class="leaders">
      <p><strong>Chairperson:</strong> {{ committee.chair }}</p>
      <p><strong>Vice Chairperson:</strong> {{ committee.vice }}</p>
    </div>
  </div>

  <div class="tabs">
    <button class="tab-link active" data-tab="statements">Statements</button>
    <button class="tab-link" data-tab="reports">Reports</button>
    <button class="tab-link" data-tab="memos">Memos</button>
  </div>

  <div id="statements" class="tab-content active">
    {% include "includes/document_table.html" with documents=statements %}
  </div>
  <div id="reports" class="tab-content">
    {% include "includes/reports_table.html" with documents=reports %}
  </div>
  <div id="memos" class="tab-content">
    {% include "includes/memos_table.html" with documents=memos %}
  </div>
</div>

{% endblock %}
