{% extends 'main.html' %} <br />

{% block head %}
<link rel="stylesheet" href="/static/styles/users.css" />

{% endblock %} <br />

{% block content %}
<h1>Users template</h1>

<table id="myTable" class="display">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Directorate</th>
      <th>Email</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td></td>
      <td>{{ user.user.first_name }} {{ user.user.last_name }}</td>
      <td>{{ user.directorate }}</td>
      <td>{{ user.user.email }}</td>
      <td>{{ user.phone_number }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
